@model IEnumerable<Proyecto_Almacen_T5DN_2023.Models.ProveedorVista>

@{
    ViewData["Title"] = "Index";
}

<h1>PROVEEDORES</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDistrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProvincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idDistrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProvincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idDepartamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idProveedor }) 
                    @Html.ActionLink("Delete", "Delete", new { id=item.idProveedor })
            </td>
        </tr>
}
    </tbody>
</table>
