@model IEnumerable<Proyecto_Almacen_T5DN_2023.Models.CProducto>

@{
    ViewData["Title"] = "Producto";
}

<h1>::: LISTADO DE PRODUCTOS :::</h1>

<p>
    <a asp-action="Registrar">Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomCat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomCat)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idProducto}) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idProducto})
            </td>
        </tr>
}
    </tbody>
</table>
